@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a, a:link, a:focus, a:hover, a:active{
  color: rgba(255, 255, 255, 0.5);
  text-decoration:none; 
  
}

a:focus, a:hover, a:active{
  color: white;
  text-decoration:none; 
  

}
.navbarstyle{
  position: absolute;
width: 1076px;
height: 58px;
left: 182px;
top: 0px;

background: #343A40;
border-radius: 6px;

}


.postBox{

position: absolute;
width: 600px;
height: 180px;
left: 367px;
top: 105px;
border: 2px solid #CCCCCC;
border-radius: 6px;
}



.label-login{

position: absolute;
width: 90px;
height: 21px;
left: 368px;
top: 195px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: rgba(255, 255, 255, 0.8);

}

.h3-profilepage{
  position: absolute;
width: 103px;
height: 42px;
left: 369px;
top: 90px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;
}

.loginInput{
  box-sizing: border-box;
  position: absolute;
 width: 600px;
 height: 61px;
 left: 367px;
 top: 220px;
 border: 2px solid #CCCCCC;
 border-radius: 6px;
 background-color: #15202B;
 color:  #CCCCCC;
 padding-left: 16px;


}



.textareastyle{
  position: absolute;
  left: 10px;
  margin-top: 10px;
  width: 400px;
  resize: none;
  border: none; 
  background-color: #15202B ;
  color: #CCCCCC;
  
}
:focus{
  outline: none;
}

::placeholder{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
padding: 5px 0 0 0px;
  color: #CCCCCC;
}

input[type=text] {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}

.buttontweet{
  position: absolute;
width: 68px;
height: 34px;
left: 525px;
top: 131px;
color: white;
background-color: #007BFF;
border: 1px solid  #15202B;
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

}

.buttonsave{
  position: absolute;
  width: 68px;
  height: 34px;
  left: 889px;
  top: 295px;
  background: #007BFF;
  border: 1px solid  #15202B;

  border-radius: 4px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}

.listContainer{
  position: absolute;
  width: 600px;
  height: 1200px;
  left: 367px;
  top: 305px;
}

.postContainer{
  margin: 13px 0px;
  width: 600px;
  height: 84px;   
  border: 1px solid white;
  border-radius: 6px;
  background-color:  #343A40;
}
.namestyle{
  position: absolute;
  left: 20px;
  margin-top: 15px;
  color: #6C757D;
}

.datestyle{
  position: absolute;
  right: 20px;
  margin-top: 15px;
  color: #6C757D;
}

.textpoststyle{
  text-align: left;
  margin-top: 50px;
  margin-left: 20px ;
  color: #FFFFFF;
 
} 
.alertdiv{
  box-sizing: border-box;

  position: absolute;
  width: 338px;
  height: 29px;
  left: 15px;
  top: 136px;
  display: flex;
  align-items: center;

  
background: #F8D7DA;
border: 1px solid #F5C6CB;
border-radius: 4px;
}
.alerttext{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
margin-left: 7px;
color: #721C24;


}
.loader {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #3498db; 
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}