.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.postBox{

position: absolute;
width: 600px;
height: 180px;
left: 367px;
top: 105px;
border: 2px solid #CCCCCC;
border-radius: 6px;
}

.textareastyle{
  position: absolute;
  left: 10px;
  margin-top: 10px;
  width: 400px;
  resize: none;
  border: none; 
  background-color: #15202B ;
  color: #CCCCCC;
  
}
:focus{
  outline: none;
}

::placeholder{
  color: #CCCCCC;
}

.buttonstyle{
  position: absolute;
width: 68px;
height: 34px;
left: 525px;
top: 131px;
color: white;
background-color: #007BFF;
border: 1px solid  #15202B;
border-radius: 4px;
}

.listContainer{
  position: absolute;
  width: 600px;
  height: 1200px;
  left: 367px;
  top: 305px;
}

.postContainer{
  margin: 13px 0px;
  width: 600px;
  height: 84px;   
  border: 1px solid white;
  border-radius: 6px;
  background-color:  #343A40;
}
.namestyle{
  position: absolute;
  left: 20px;
  margin-top: 15px;
  color: #6C757D;
}

.datestyle{
  position: absolute;
  right: 40px;
  margin-top: 15px;
  color: #6C757D;
}

.textpoststyle{
  text-align: left;
  margin-top: 50px;
  margin-left: 20px ;
  color: #FFFFFF;
 
} 
